# Compiled source #
###################
*.dll
*.exe

# Folders #
###################
bin
obj
packages
.vs

# VS Itens #
*.suo
*.user
ProxyParaCameras/Properties/PublishProfiles/

# Config files
ProxyParaCameras/camerasconfiguration.json